.column-wrapper{
  .iconchangyongtubiao-xianxingdaochu-zhuanqu-{
    font-size: 28px;
    color: white;
    position: absolute;
    left: 18px;
    top: 15px;
  }
  .song-list{
    width: 257px;
    height: 41px;
    color: white;
    line-height: 41px;
    position: absolute;
    left: 65px;
    top: 8px;
    z-index: 1;
    // width: 100%;
    font-size: 3.7037vw;
  }
  .column-content-wrapper{
    width: 100%;
    height: calc(100vh - 56px);
    overflow: hidden;
    .column-content{
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
      .column-item{
        display: flex;
        flex-direction: column;
        min-width: 0;
        flex: 0 0 50%;
        box-sizing: border-box;
        padding: 2vw 1vw ;
        min-width: 0;
        .img-wrapper{
          width: 180px;
          height: 180px;
          position: relative;
          i{
            position: absolute;
            right: 40px;
            top: 2px;
            color: white;
            font-size: 16px;
          }
          .play-num{
            position: absolute;
            right: 6px;
            top: 4px;
            color: white;
            font-size:12px;
          }
          .column-img{
            width: 100%;
            height: 100%;
            border-radius: 2px;
          }
        }
        .column-title{
          width:180px ;
          color: #333;
          font-size:3.33vw ;
          word-wrap: break-word;
          text-overflow: ellipsis;
          height: 9.3vw;
          margin: 1.9vw 0.93vw;
          line-height: 4.63vw;
        }
      }
    }
  }
}