.column-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  .song-list{
    width: 257px;
    height: 36px;
    color: white;
    font-size: 14px;
    line-height: 36px;
    position: absolute;
    left: 0;
    top: 0;
  }
 .column-item{
   display: flex;
   flex-direction: column;
   min-width: 0;
   flex: 0 0 33.33333%;
   box-sizing: border-box;
   padding: 2vw .4vw 0;
  //  margin: 2vw auto;
   .img-wrapper{
     width: 120px;
     height: 120px;
     position: relative;
     i{
       position: absolute;
       right: 40px;
       top: 4px;
       color: white;
     }
     .play-num{
      position: absolute;
      right: 6px;
      top: 4px;
      color: white;
      font-size:12px;
     }
     .column-img{
       width: 120px;
       height: 120px;
       border-radius: 2px;
     }
   }
   .column-title{
     width:120px ;
     color: #333;
     font-size:3.33vw ;
     word-wrap: break-word;
     text-overflow: ellipsis;
     height: 9.3vw;
     margin: 1.9vw 0.93vw;
     line-height: 4.63vw;
   }
 }
}